<app-section>
  <div app-section-header-slot>
    <h1>Header</h1>
  </div>
  <div app-section-content-slot>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo elit justo, et pharetra dolor hendrerit a.
      Mauris elementum massa at suscipit suscipit. Donec justo massa, iaculis non tincidunt at, pulvinar vitae elit.
      Praesent vitae rhoncus libero. Sed id condimentum nunc, iaculis tempor nibh. Morbi finibus scelerisque sem sed
      congue. Fusce maximus lacus venenatis justo porttitor porttitor a in massa. Maecenas egestas dui vel sem pulvinar
      ornare. Aliquam erat volutpat.</p>

    <p>Nam quis felis in mauris aliquam efficitur. Phasellus sodales quis mauris et hendrerit. Vestibulum ante ipsum
      primis in faucibus orci luctus et ultrices posuere cubilia curae; In eget viverra elit, eget rutrum augue. Morbi
      non rhoncus massa, in iaculis dui. In blandit consectetur risus ornare congue. Quisque ac libero in sapien aliquet
      laoreet nec elementum ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
      egestas. Phasellus pharetra eu magna tincidunt finibus. Integer elit est, vestibulum et convallis sit amet,
      vestibulum sit amet quam. Mauris eleifend pharetra leo, vitae vulputate dui molestie eu. Ut vestibulum metus sit
      amet arcu mattis, sed aliquam arcu fermentum.</p>

    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque vitae tellus
      dolor. Praesent placerat accumsan lobortis. In laoreet elit in mi dictum lacinia. Sed condimentum turpis orci,
      vitae suscipit sem efficitur vitae. Donec ex ipsum, luctus eu tempus accumsan, egestas vel dolor. Aenean congue
      tempor dictum. Maecenas eros quam, consectetur accumsan nulla id, facilisis blandit mauris. Nullam eu imperdiet
      justo. Donec vitae diam id ex vestibulum condimentum et eu ex.</p>

    <p>Vivamus non molestie nunc. Nunc placerat massa mi, vel efficitur eros commodo nec. Curabitur varius sed risus
      eget tincidunt. Nullam nulla nunc, lobortis non tincidunt in, volutpat ac dolor. Aliquam sed fringilla neque, non
      vestibulum orci. Quisque varius euismod erat sed accumsan. Donec consequat mi urna, a consectetur turpis egestas
      vitae. Aliquam feugiat ipsum eu ante pharetra, at molestie turpis gravida. Integer mauris nisl, vulputate sit amet
      justo vel, bibendum tincidunt ex. Vestibulum dapibus posuere felis eu posuere. Ut nec pellentesque massa. Mauris
      facilisis quam est, nec congue tellus mattis et. Curabitur sodales, urna accumsan varius pellentesque, sapien
      massa fermentum sem, vel imperdiet urna libero eget leo.</p>

    <p>Morbi id maximus felis. Ut sit amet magna ac nulla rhoncus pulvinar. Donec elit nibh, tempus a arcu nec,
      ultricies fringilla magna. Mauris vehicula leo neque, luctus molestie dolor condimentum non. Praesent varius
      vehicula velit, in finibus ex ullamcorper ut. Pellentesque habitant morbi tristique senectus et netus et malesuada
      fames ac turpis egestas. In tincidunt quis ipsum non dignissim. Vestibulum ante ipsum primis in faucibus orci
      luctus et ultrices posuere cubilia curae.</p>

    <p>Aliquam erat volutpat. Nulla facilisi. In lacinia sapien dolor, vel venenatis massa convallis sit amet.
      Vestibulum aliquam aliquet sagittis. Vivamus quis ante sem. Suspendisse at eros blandit, ultrices libero in,
      scelerisque odio. Vivamus in semper nisi. Morbi scelerisque pulvinar porttitor. Ut vel condimentum eros, vitae
      semper ligula. Nunc facilisis pellentesque eros, sed facilisis neque pharetra et. Fusce eget ex enim. Nam lobortis
      dui dolor, vel faucibus lectus tincidunt eget.</p>

    <p>Phasellus quis nulla tincidunt ipsum aliquam congue et nec sapien. Nunc consequat sollicitudin varius. Proin
      velit mauris, tincidunt dignissim erat sit amet, luctus laoreet elit. Mauris id tincidunt ipsum. Mauris tempus
      eleifend pulvinar. Maecenas hendrerit efficitur gravida. Etiam at nisi sit amet eros consectetur sollicitudin sed
      et dui. Phasellus id elit sagittis, aliquet orci nec, pretium ante. Cras fermentum eros ut purus interdum varius.
      Etiam fringilla sapien vitae sodales dictum. Vivamus luctus imperdiet sodales.</p>

    <p>Morbi est neque, vehicula at porttitor at, gravida vitae neque. Mauris sit amet imperdiet felis. Etiam sed dictum
      ligula, eu pellentesque eros. Suspendisse potenti. Sed condimentum vehicula convallis. Donec in maximus felis.
      Nullam lectus neque, tempus eu pharetra ut, pellentesque dignissim ligula. Mauris tortor massa, consectetur a
      tempus a, ornare sed neque.</p>

    <p>Suspendisse potenti. Cras non congue purus. Nulla malesuada metus ac mattis efficitur. Vestibulum eleifend vitae
      ex a tincidunt. Nunc id elit dui. Integer at orci quis lectus pulvinar malesuada. Quisque est quam, hendrerit in
      nunc vel, rhoncus consequat velit. Phasellus id ante at nisi semper aliquet. Vestibulum ac dui quis mi porta
      luctus. Duis sed vestibulum ligula, eu faucibus neque.</p>
  </div>
</app-section>
