<app-section>
  <div app-section-header-slot>
    <h3>Scanning</h3>
  </div>
  <div app-section-content-slot>
    <form [formGroup]="_formGroup">
      <app-input
        label="Name:"
        placeholder="Name of scan"
        formControlName="name"
        type="text"
        help="Input the name of the scan."
      ></app-input>
      <div *ngFor="let axis of ['X', 'Y', 'Z']"
           class="app-scanning__form-row"
      >
        <app-input
          label="Min {{ axis }} [mm]:"
          placeholder="Min {{ axis }}"
          formControlName="min{{ axis }}"
          type="number"
          min="0"
          max="400"
          step="0.5"
          help="Minimum boundary for {{ axis }} axis in millimeters."
          class="mr-2"
        ></app-input>
        <app-input
          label="Max {{ axis }} [mm]:"
          placeholder="Max {{ axis }}"
          formControlName="max{{ axis }}"
          type="number"
          min="0"
          max="400"
          step="0.5"
          help="Maximum boundary for {{ axis }} axis in millimeters."
          class="ml-2 mr-2"
        ></app-input>
        <app-input
          label="Step for {{ axis }} [mm]:"
          placeholder="Step for {{ axis }}"
          formControlName="step{{ axis }}"
          type="number"
          min="0.5"
          max="200"
          step="0.5"
          help="Step for {{ axis }} axis in millimeters."
          class="ml-2"
        ></app-input>
      </div>
      <div class="app-scanning__form-row">
        <app-input
          label="Min frequency [MHz]:"
          placeholder="Min frequency"
          formControlName="minFrequency"
          type="number"
          min="0"
          max="400"
          step="0.5"
          help="Minimum boundary for frequency axis in millimeters."
          class="mr-2"
        ></app-input>
        <app-input
          label="Max frequency [MHz]:"
          placeholder="Max frequency"
          formControlName="maxFrequency"
          type="number"
          min="0"
          max="400"
          step="0.5"
          help="Maximum boundary for frequency axis in millimeters."
          class="ml-2 mr-2"
        ></app-input>
        <app-input
          label="Step for frequency [MHz]:"
          placeholder="Step for frequency"
          formControlName="stepFrequency"
          type="number"
          min="0.5"
          max="200"
          step="0.5"
          help="Step for frequency axis in megahertz."
          class="ml-2"
        ></app-input>
      </div>
      <div
        *ngIf="_errors.size > 0"
        class="alert alert-danger"
      >
        <span *ngFor="let error of _errors">
          {{ error }}
        </span>
      </div>
    </form>
    <div class="app-scanning__buttons">
      <button
        (click)="onDismiss()"
        class="btn btn-danger mr-2"
      >
        Dismiss
      </button>
      <button
        class="btn btn-primary ml-2 mr-2"
      >
        Summary
      </button>
      <button
        class="btn btn-success ml-2"
      >
        Scan
      </button>

    </div>
  </div>
</app-section>
