<app-section>
  <div app-section-header-slot>
    <h1>Header</h1>
  </div>
  <div app-section-content-slot>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id venenatis tellus, vel placerat lorem. Nulla
      vulputate ultricies congue. Donec vitae lectus leo. Maecenas ut nunc ut leo blandit euismod. Proin et nibh turpis.
      Mauris posuere vulputate accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

    <p>Morbi laoreet volutpat iaculis. Phasellus vel dui lorem. Nam quis ligula posuere, condimentum eros in, commodo
      lectus. Integer mattis magna vel ligula eleifend, consequat interdum lacus elementum. Cras ac mauris pellentesque,
      venenatis tortor in, imperdiet lorem. Aliquam vitae diam vitae dolor aliquet facilisis. Pellentesque eget urna
      diam. Mauris et elit et ex porttitor ultricies. Duis vehicula molestie fringilla. Curabitur egestas condimentum
      sapien at commodo. Fusce eget vestibulum augue. Etiam accumsan id augue eget tristique.</p>

    <p>Donec suscipit malesuada lorem. Integer scelerisque facilisis neque vel porttitor. Praesent libero magna, tempus
      eget dapibus at, efficitur ac magna. Sed commodo ante lacus. Quisque facilisis erat eget lectus consectetur, a
      hendrerit diam dignissim. Sed vulputate gravida est. Sed viverra feugiat leo eget ultrices. Nunc posuere convallis
      lacus. Proin feugiat fringilla lacus, vitae tempus nibh cursus eu. Maecenas quis rhoncus dolor. Duis id nibh nisl.
      Proin elit risus, tristique in aliquam sit amet, maximus ac orci. Maecenas elementum.</p>
  </div>
</app-section>
<app-section>
  <div app-section-header-slot>
    <h1>Header</h1>
  </div>
  <div app-section-content-slot>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id venenatis tellus, vel placerat lorem. Nulla
      vulputate ultricies congue. Donec vitae lectus leo. Maecenas ut nunc ut leo blandit euismod. Proin et nibh turpis.
      Mauris posuere vulputate accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

    <p>Morbi laoreet volutpat iaculis. Phasellus vel dui lorem. Nam quis ligula posuere, condimentum eros in, commodo
      lectus. Integer mattis magna vel ligula eleifend, consequat interdum lacus elementum. Cras ac mauris pellentesque,
      venenatis tortor in, imperdiet lorem. Aliquam vitae diam vitae dolor aliquet facilisis. Pellentesque eget urna
      diam. Mauris et elit et ex porttitor ultricies. Duis vehicula molestie fringilla. Curabitur egestas condimentum
      sapien at commodo. Fusce eget vestibulum augue. Etiam accumsan id augue eget tristique.</p>

    <p>Donec suscipit malesuada lorem. Integer scelerisque facilisis neque vel porttitor. Praesent libero magna, tempus
      eget dapibus at, efficitur ac magna. Sed commodo ante lacus. Quisque facilisis erat eget lectus consectetur, a
      hendrerit diam dignissim. Sed vulputate gravida est. Sed viverra feugiat leo eget ultrices. Nunc posuere convallis
      lacus. Proin feugiat fringilla lacus, vitae tempus nibh cursus eu. Maecenas quis rhoncus dolor. Duis id nibh nisl.
      Proin elit risus, tristique in aliquam sit amet, maximus ac orci. Maecenas elementum.</p>
  </div>
</app-section>
